linearGradient{top: rgb(164, 172, 170) rgb(210, 204, 89); }
h1{color: rgb(219, 71, 26);}
picture{background-position: center;}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}